.navigationList {
    display: flex;
}

.navigationItem {
    width: 150px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
}

.navigationItemActive {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}
