.selectPositioner {
  z-index: 9999 !important;
}

.formLabel {
  font-size: 16px;
  color: var(--color-text);
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 1;
  pointer-events: none;
  transition:
    top 0.2s ease,
    font-size 0.2s ease,
    background-color 0.2s ease;
}

.formField {
  padding: 2px 15px;
  border: 1px solid var(--border-color);
  position: relative;
  background-color: var(--bg);
}

.formField:has([data-state="open"]),
.formField:has([data-has-value="true"]) {
  border: 1px solid var(--color-primary);
}

.formInput {
  color: var(--color-text);
}

.formField:has([data-state="open"]) .formLabel,
.formField:has([data-has-value="true"]) .formLabel {
  top: -10px;
  background-color: var(--bg);
  font-size: 12px;
  color: var(--color-primary);
}

.selectContent {
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--color-text);
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  z-index: auto;
}

.selectItem {
  padding: 8px 12px;
  background-color: var(--bg);
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.selectItem[data-highlighted] {
  background-color: var(--color-primary);
  color: white;
}

.selectItem[data-state="checked"] {
  background-color: var(--color-primary);
  color: white;
}

.groupLabel {
  padding: 8px 12px;
  font-size: 12px;
  opacity: 0.7;
  color: var(--color-text);
}
