.addNewButton {
  padding: 0.5rem;
  display: flex;
  color: #767676 !important;
  gap: 16px;
  width: 270px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 25px;
  border-radius: 25px;
}
.addNewButton:hover {
  background-color: var(--bg-hover);
  color: var(--color-text)  !important;
}