.removeItemButton {
  display: flex;
  color: var(--color-primary);
  padding: 15px 0;
  gap: 16px;
  width: 220px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 25px;
}
