.row {
  border-bottom: 1px solid var(--border-color);;
  transition: background 0.2s;
}

.row:hover {
  background: var(--bg);;
}

.row:last-child {
  border-bottom: none;
}

.row td {
  padding: 10px 14px;
  vertical-align: middle;
  font-size: 14px;
  color: var(--color-text);;
}
.firstNameColumn div, .lastNameColumn div, .emailColumn div,
.departmentColumn div, .positionColumn div{
  max-height: 24px;
  overflow: hidden;
}
.email {
  color: var(--color-text);;
}

.actions {
  text-align: right;
}

.actionButton {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-text);;
}

.actionButton:hover {
  color: var(--color-text);;
}

.userActionsItem {
  padding: 5px 15px;
  color: var(--color-text);;
  text-align: left;
}

/*.userActionsItem:hover {
  background: var(--color-dark);
}*/
