.addLanguageForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.languagesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.languagesItem {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  color: #767676;
  width: 100%;
}

.languagesItemActive {
  color: var(--color-text);
}

.menagementLanguages {
  display: flex;
  justify-content: end;
  gap: 15px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background-color: var(--bg);
}

.removeLanguagesButton {
  width: 220px;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.cancelDeleteButton {
  border-radius: 25px;
  border: 1px solid var(--cancel-border);
  background-color: transparent;
  color: var(--cancel-text);
  width: 220px;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
