:root {
  --bg: #f5f7fb;
  --bg-hover: #f3f4f6;
  --color-dark: #2e2e2e;
  --color-primary: #c63031;
  --color-text: #2e2e2e;
  --color-subtitle: #00000099;
  --link-color: #6b7280;
  --border-color: #e5e7eb;
  --bread-crumbs: rgba(0, 0, 0, 0.6);
  --cancel-border: #ffffff3b;
  --cancel-text: #ffffff3b;
}

[data-theme="dark"] {
  --bg: #353535;
  --bg-hover: #303030;
  --color-dark: #ffffff;
  --border-color: #ffffff3b;
  --color-text: #ffffff;
  --color-subtitle: rgba(255, 255, 255, 0.7);
  --link-color: #ffffff;
  --bread-crumbs: #767676;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--color-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
span {
  color: var(--color-text);
}

button {
  border: none;
  background: transparent;
  padding: 0;
  font: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  color: inherit;
  text-align: inherit;
}