.title {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}