.title {
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: var(--color-text);;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.list li {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.languageInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.list strong {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--color-text);;
}

.list span {
    font-size: 11px;
    line-height: 1.5;
    color:var(--color-text);;
}