.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.search {
  position: relative;
  width: 320px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.input {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border: 1px solid var(--border-color);
  border-radius: 40px;
  outline: none;
  color: var(--color-text);
}
