.navigation {
  margin-bottom: 34px;
}

.navigationList {
  display: flex;
}

.navigationItem {
  width: 150px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.5px;
  color: var(--color-text);
  font-style: SemiBold;
}

.navigationItem > a {
  padding: 16px 0px;
  width: 100%;
  text-align: center;
}

.navigationItemActive {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}
