.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  min-width: 260px;
  height: 100vh;
  padding: 32px 20px;
  background: var(--bg);
  border-right: 1px solid;
  transition:
    width 0.2s ease,
    min-width 0.2s ease,
    padding 0.2s ease;
}

.collapsed {
  width: 104px;
  min-width: 104px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 16px;
  border-radius: 14px;
  color: var(--link-color);
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.link:hover {
  background: var(--bg-hover);
}

.active {
  background: var(--bg);;
  color: var(--color-text);
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profileButton {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 16px;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease;
}

.profileButton:hover {
  background: var(--bg-hover);
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.userInfo {
  display: flex;
  color:var(--color-text);
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 14px;
  font-weight: 600;
}

.collapseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  color: var(--link-color);
  transform: rotate(180deg);
  transition: background 0.2s ease;
}

.collapseButton:hover {
  background: var(--bg-hover);
}

.collapsed .link {
  justify-content: center;
}

.collapsed .profileButton {
  justify-content: center;
}
.arrow {
  transition: transform 0.2s ease;
}
.rotated {
  transform: rotate(180deg);
}
.profileWrapper {
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
